$white: #ffffff;
$black: #000000;
$black-100: #172B4D;
$black-200: #E0E0E0;
$black-500: #252525;
$primary: linear-gradient(100.19deg, #5556A5 0%, #3B3C97 84.47%);
$secondary: #00000000;
$primary-14: #091E4224;
$primary-100: linear-gradient(100.19deg, #48498C 0%, #2D2E73 84.47%);




//fonts Variable
$fs-8: 0.5rem;
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-28: 1.75rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-34: 2.125rem;
$fs-36: 2.25rem;
$fs-38: 2.375rem;
$fs-40: 2.5rem;