@use "../abstract/variables" as *;
.form_control{
    border: 1px solid $primary-14;
    color: $black-100;
    &:hover,
    &:focus,
    &:active,
    &:focus:active,
    &:focus-within
    {
        border-color: $primary-100;
    }
}

.ant-btn{

    &.primary_btn{
        background: $primary;
        color: $white;
        font-size: $fs-14;
        font-weight: 500;
        border-radius: 0.5rem;
        transition: 0.3s all;
        &:disabled,
        &.disabled{
            opacity: 0.5;
        }
        &:hover,
        &:focus,
        &:active,
        &:focus:active{
            background: $primary-100;
        }
    }
}